body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Jost';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Abee;
  src: url(./FONTES/ABeeZee/ABeeZee-Regular.ttf);
}

@font-face {
  font-family: Jost-regular;
  src: url(./FONTES/Jost/static/Jost-Regular.ttf);
}

@font-face {
  font-family: Jost-Medium;
  src: url(./FONTES/Jost/static/Jost-Medium.ttf);
}

@font-face {
  font-family: Jost-light;
  src: url(./FONTES/Jost/static/Jost-Light.ttf);
}

@font-face {
  font-family: Jost-SemiBold;
  src: url(./FONTES/Jost/static/Jost-SemiBold.ttf);
}

@font-face {
  font-family: Jost-ExtraBold;
  src: url(./FONTES/Jost/static/Jost-ExtraBold.ttf);
}