.container-geral-create {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/assets/imgs/fundo1-08_1.png');
}

.container-geral-create h1 {
    margin-block-start: 0 !important;
    padding-top: 8px;
    padding-left: 16px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form-prod {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 80vh;
    background-color: rgba(179, 226, 164, 1);
    border-radius: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: rgba(225, 249, 215, 1);
    border-radius: 25px;
    width: 35%;
    height: 6%;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2%;
}

.TogleSwitch {
    position: relative;
    top: 1vh;
    left: 1vw;
    width: fit-content;
    font-size: 2em;
    background-color: rgba(179, 226, 164, 1);
    border-radius: 25px;
    color: #1E1E1E;
    padding: 0 1em !important;

}