.containerGeral {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-image: url('../../fundoloja.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 9vw;
}


.produtoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7vh 0 3vh 0;
    width: 20vw;
    height: 37vh;
    background-color: rgba(225, 249, 215, 1);
    border-radius: 25px;
}

.produtoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 18vw;
    height: 35vh;
    background-color: rgba(179, 226, 164, 1);
    border-radius: 25px;
    padding: 10px 0 10px 0;
}

.produtocard-titulo {
    font-size: 1.5em;
    text-align: center;
    margin: 0 !important;
    font-family: Jost-Medium;
}

.produtoCard-preco {
    font-size: 1em;
    text-align: center;
    margin: 0 !important;
    font-family: Jost-Regular;
}

.produtoCard-desc {
    font-size: 1em;
    text-align: center;
    margin: 0 !important;
    font-family: Jost-Regular;
}

.produtoCard img {
    width: 80%;
    height: 44%;
    border-radius: 25px;
}

.searchBar {
    font-family: Jost-Light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(225, 249, 215, 1);
    align-items: center;
    width: 100vw;
    height: 5vh;
    margin-top: 12vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Produtos {
    margin-left: 10%;
    font-family: Jost-SemiBold;
}

.searchIcon {
    width: 2vw;
    height: 2vw;
    margin: 0 0 0 1vw;
    margin-right: 4px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 238, 191, 1);
    border-radius: 25px;
    height: 5vh;
    width: 12vw;
    margin-left: 10px;
    margin-right: 45px;
    text-decoration: underline;
}

.addButton a {
    color: black;
    font-family: Jost-Medium;
}

.produtoCard-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5vh;
    font-family: Jost-Medium;

}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin-left: 10%;
    font-family: Jost-Regular;
}

.location-container img {
    width: 2vw;
    height: 2vw;
}

.produtoCard-comprar {
    margin-right: 10%;
    background-color: rgba(204, 238, 191, 1);
    padding: 2% 5% 2% 5%;
    border-radius: 25px;
}

.produtoCard-comprar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}