.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.produtoCard{
    width: 20vw;
    height: 40vh;
    background-color: rgba(179, 226, 164, 1);
}