.body {
    overflow: hidden;
    font-family: 'Jost', sans-serif;
}

#banner {
    margin-top: 12vh;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.banner-img {
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-text {
    top: 5vh;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 25em;
    color: rgba(111, 191, 88, 1);
    ;
}

#about-us {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 5vh 0;
}

.container-round-text {
    margin: 0 0vw;
    width: 30vw;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(179, 226, 164, 1);
}

.img-container {
    width: 40%;
    height: 40%;
    object-fit: contain;
}

.container-round-text h2 {
    font-family: Jost-ExtraBold;
    font-variation-settings: "wght" 800;
    color: #6FBF58;
    font-size: 2em;
    text-align: center;
    margin: 5px 0 5px 0;
}

.container-round-text p {
    font-size: 1.5em;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Jost-Regular;

}

#sustentabilidade {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(225, 249, 215, 1);
    padding: 5vh 0;

}

#contactos {
    height: 30vh;
    width: 100vw;
    background-color: #6FBF58;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Jost-Medium;
}

#contactos h1 {
    font-variant: "Jost";
    font-variation-settings: "wght" 100;
    color: #1E1E1E;
    margin-left: 7vw;
    margin-right: 8vw;
    margin-bottom: 11vw;
}

.logoFimLanding {
    padding: 30px;
}

.numerotele {
    position: absolute;
    font-family: Jost-Regular;
    left: 5.3vw;
}